p {
    color: whitesmoke;
    margin: 3px;
    overflow: auto;
}

#gameImgBox {
    height: 50%;
    width: 50%;
}

#gameReview {
    min-height: 80px;
    min-width: 250px;
}

#submitReviewbtn {
    margin-top: 30px;
    height: 30px;
    width: 200px;
    background-color: #2d2f32;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2d2f32), to(#1a1a1a));
    background-image: -webkit-linear-gradient(top, #2d2f32, #1a1a1a);
    background-image: -moz-linear-gradient(top, #2d2f32, #1a1a1a);
    background-image: -ms-linear-gradient(top, #2d2f32, #1a1a1a);
    background-image: -o-linear-gradient(top, #2d2f32, #1a1a1a);
    background-image: linear-gradient(to bottom, #2d2f32, #1a1a1a);
    color: whitesmoke;
}

#gameRating {
    width: 15px;
}