.latest-reviews-container {
    margin-top: 75px;
    padding: 10px;
}

.latest-reviews-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #45484d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#45484d), to(#121111));
    background-image: -webkit-linear-gradient(bottom, #45484d, #121111);
    background-image: -moz-linear-gradient(bottom, #45484d, #121111);
    background-image: -ms-linear-gradient(bottom, #45484d, #121111);
    background-image: -o-linear-gradient(bottom, #45484d, #121111);
    background-image: linear-gradient(to bottom, #45484d, #121111);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#45484d, endColorstr=#121111);
}

.latest-reviews-image {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
}

.latest-reviews-title {
    padding-left: 10px;
    color: white;
}

.latest-reviews-text {
    text-align: left;
    word-break: break-all;
    width: 93%;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.latest-reviews-author {
    padding-right: 15px;
    text-align: right;
    color: white;
}