.wrapper {
    height: 7%;
    width: 100%;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7vh;
}

.material-icons {
    display: flex;
    flex-direction: row-reverse;
    color: whitesmoke;
    cursor: pointer;
}

.logo {
    color: whitesmoke;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
}

.searchButton {
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
}

.menu-container {
    display: flex;
}